* {
    padding: 0 auto;
    margin: 20px;
    align-items: center;
}
span {
    color:black}
input {
    width: 80%;
    height: 2em;
    border-radius: 5px;
    text-align: center;
    border: 1px solid;
    padding: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
outline: none;}
button{
    width:10em;
    height: 3em;
    cursor: pointer;}